@media screen and (width <= 767px) {
    .grantop > .leite, .leite2 {
        width: 100%;
        height: 80%;
    }

    .grantop > .sorveteGrantop {
        height: 70%;
        left: -20%;
        top:8%;
    }

    .morangoBottom {
        bottom:-15%;
    }
    
    .morangoTop, .morangoTop2, .beijinhoTop {
        left: 0%;
        top:8%;
        width: 30%;
    }

      .morangoBack, .morangoBack2, .beijinhoFront {
        right: 5%;
        top:12%;
        width: 20%;
      }

      .morangoFront, .morangoFront2, .beijinhoBack {
        display: none;
      }

      .morangoBottom2 {
        display: none;
      }

      .ituzinho > .sorveteItuzinho {
        left: -30%;
      }

      .chocolateDerretendo {
        height: 80%;
      }

      .acai1 {
        top: 35%;
        right: 5%;
        width: 50%;
      }

      .acai2 {
        left: 10%;
        width: 55%;
      }

      .acai3 {
        width: 55%;
        top: 60%;
        left: 15%;
      }
    
      .acaiCaindo {
        rotate: 90deg;
        width: auto;
        height: auto;
        object-fit: cover;
      }

      .beijinhoBottom {
        bottom:-20%;
        left: -20%;
    }

    .sorveteB {
       height: 70%;
        top: 15%;
      }

      .cardapio {
        height: 140vh;
        flex-direction: column;
        gap: 10px;
      }

      .cardapio > img {
        width: 100%;
        height: 50%;
        object-fit: contain;
      }

      .contentImages {
        flex-direction: column;
        width: 100%;
        height: 150vh;
        background: url('../image/backImages.svg') center / cover no-repeat;
      }

      .contentText {
        height: 60%;
        flex-direction: column;
      }

      .textProject {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 10px;
      }

      .textProject > h1 {
        font-size: 2em;
        color: var(--branco);
      }

      .textProject > p {
        font-size: 1em;
      }

      .casquinha {
        position: relative;
        width: 100%;
        height: 50%;
      }

      .casquinha > img {
        position: absolute;
        right: -35%;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    
}

@media screen and (width >= 767px) and (width <= 1023px) {
    .grantop > .leite, .leite2 {
        width: 100%;
        height: 80%;
    }

    .grantop > .sorveteGrantop {
        height: 70%;
        left: 0%;
        top:10%;
    }

    .morangoBottom {
        bottom:-5%;
    }
    
    .morangoTop, .morangoTop2, .beijinhoTop {
        left: 0%;
        top:8%;
        width: 25%;
    }

    .morangoBack, .morangoBack2, .beijinhoFront {
        right: 5%;
        top:12%;
        width: 20%;
      }

      .morangoFront, .morangoFront2, .beijinhoBack {
       
        width: 20%;
      }

    .contentImages {
        width: 100%;
        height: 120vh;
    }

    .textProject > h1 {
        font-size: 2em;
        color: var(--branco);
      }

    .cardapio {
        height:55vh;
        flex-direction: row;
        gap: 10px;
      }

      .cardapio > img {
        width: 50%;
        height: 100%;
        object-fit: contain;
      }

      .morangoBottom2 {
        display: none;
      }

      .ituzinho > .sorveteItuzinho {
        left: 0%;
      }

      .chocolateDerretendo {
        height: 80%;
      }

      .acai1 {
        top: 35%;
        right: 5%;
        width: 50%;
      }

      .acai2 {
        left: 10%;
        width: 50%;
      }

      .acai3 {
        width: 45%;
        top: 60%;
        left: 15%;
      }

      .beijinhoBottom {
        bottom:-20%;
        left: -20%;
    }

    .sorveteB {
       height: 70%;
        top: 15%;
      }

}

@media screen and (width <= 450px) {
    .grantop > .leite, .leite2 {
        width: 100%;
        height: 80%;
    }

    .grantop > .sorveteGrantop {
        height: 70%;
        left: -5%;
        top:8%;
    }

    .morangoBottom {
        bottom:-40%;
        left: -20%;
    }
    
    .morangoTop, .morangoTop2, .beijinhoTop {
        left: 0%;
        top:8%;
        width: 30%;
    }

      .morangoBack, .morangoBack2, .beijinhoFront {
        right: 5%;
        top:12%;
        width: 20%;
      }

      .morangoFront, .morangoFront2, .beijinhoBack {
        display: none;
      }

      .morangoBottom2 {
        display: none;
      }

      .ituzinho > .sorveteItuzinho {
        left: -30%;
      }

      .chocolateDerretendo {
        height: 80%;
      }

      .acai1 {
        top: 35%;
        right: 5%;
        width: 50%;
      }

      .acai2 {
        left: 10%;
        width: 55%;
      }

      .acai3 {
        width: 55%;
        top: 60%;
        left: 15%;
      }
    
      .acaiCaindo {
        rotate: 90deg;
        width: auto;
        height: auto;
        object-fit: cover;
      }

      .beijinhoBottom {
        bottom:-40%;
        left: -20%;
    }

    .sorveteB {
       height: 70%;
        top: 15%;
      }

      .cardapio {
        height: 140vh;
        flex-direction: column;
        gap: 10px;
      }

      .cardapio > img {
        width: 100%;
        height: 50%;
        object-fit: contain;
      }

      .contentImages {
        flex-direction: column;
        width: 100%;
        height: 200vh;
        background: url('../image/backImages.svg') center / cover no-repeat;
      }

      .images {
        height: 30%;
      }

      .contentText {
        height: 70%;
        flex-direction: column;
        padding: 10px;
      }

      .textProject {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 10px;
      }

      .textProject > h1 {
        font-size: 2em;
        color: var(--branco);
      }

      .textProject > p {
        font-size: 1em;
      }

      .casquinha {
        position: relative;
        width: 100%;
        height: 50%;
      }

      .casquinha > img {
        position: absolute;
        right: -35%;
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    
}