@media screen and (width <= 767px) {  

    .toast {
        width: 56px;
        height: 60px;
        border-radius: 50px;
        background-color: var(--preto);
        position: fixed;
    }

    .toastOpen {
        width: 80%;
        animation: openToast 0.5s linear;
    }

    @keyframes openToast {
        from {
            width: 56px;
        }to {
            width: 80%;
        }
    }
    
    @keyframes closeToast {
        from {
            width:80%;
        }to {
            width: 56px;
        }
    }
    
    .menuMobile {
        top:0;
        width:100%;
        height: 100vh;
        background-color: var(--cinzaOpacity);
        z-index: 999;
        position: fixed;
        backdrop-filter: blur(2px);
        display: none;
    }
    
    .mobile {
        width:80%;
        height: 100%;
        background-color: var(--backgroundCinza);
        position: fixed;
        right:0;
        bottom:0;
        flex-direction: column;
        justify-content: left !important;
        border-left:2px solid var(--cinza);
        box-shadow: 0px 0px 20px 5px var(--preto);
    }

    .logo > a {
        max-width: 60px;
        width: 50px;
    }


    .logoMenu {
        width:100%;
        height:10%;
        position: relative;
        margin-bottom: 40px;
    }

    .logoMenu::before {
        content: '';
        width: 90%;
        height:2px;
        border-radius: 10px;
        background:var(--vermelhoPadrao);
        position: absolute;
        bottom: 0;
    }

    .logoMenu > .triangulos {
        top:0;
        position: absolute;
        z-index:0;
    }

    .logoMenu > .triangulos > .triangulo {
        border-left: 90px solid transparent;
        border-right: 90px solid transparent;
        border-top: 40px solid var(--cinza);
    }

    .logoMenu > .logo {
        width: 40%;
        padding-inline:20px;
        z-index: 2;
    }

    .logoMenu > .logo > img {
        width: 80%;
        height: 90%;
    }

    .closeMenu {
        width:60%;
        height: 100%;
        padding-inline:20px;
        justify-content: right !important;
     
    }

    .closeMenu > button {
        width:40px;
        height: 40px;
        border:none;
        background:transparent; 
        z-index: 1;
    }

    .closeMenu > button > span {
        font-size: 2em;
        font-weight: bold;
        color:var(--vermelhoPadrao);
    }

    .contMenu {
        width:100%;
        height: 90vh;
    }

    .contMenu > .triangulos {
        bottom:0;
        position: absolute;
        z-index:0;
        rotate: 180deg;
    }

    .contMenu > .triangulos > .triangulo {
        border-left: 90px solid transparent;
        border-right: 90px solid transparent;
        border-top: 40px solid var(--cinza);;
    }

    .linksMenu {
        width:100%;
        height:100%;
        gap:10px;
        flex-direction: column;
        justify-content: left !important;
    }

    .linkMenu {
        width: 100%;
        height: 10%;
        padding-left: 60px;
        justify-content: left !important;
        flex-direction: row;
    }

    .linkMenu > span {
        font-size: 1.8em;
        color: var(--branco);
        margin-inline:10px;
    }
    
    .linkMenu > a {
        text-decoration: none;
        font-size: 1.2em;
        color: var(--branco);
    }

    .userMobile.hidden {
        display: none;
    }

    .userMobile {
        margin-top: 10px;
        width:100%;
        height:20%;
        justify-content: left !important;
        padding-left: 60px;
    }
    
    .userMobile > img {
        width:70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        border:2px solid var(--vermelhoPadrao);
    }

    .userMobile > p {
        color: var(--branco);
        font-size: 1.2em;
        font-weight: bold;
        margin-inline:20px;
    }

    .activedMenu {
        display: flex !important;
    }

    .fadeInMenu {
        animation: fadeIn 500ms;
    }

    .fadeInRightMenu {
        animation: fadeInRight 500ms;
    }

    .fadeOutMenu {
        animation: fadeOut 500ms;
    }

    .fadeOutRightMenu {
        animation: fadeOutRight 500ms;
    }

    .menu {
        width:95% !important;
        top:2vh;
        height: 8vh;
    }

    .logo {
        width: 30% !important;
    }

    .logo > img {
        width: 50%;
        height: 80%;
    }

    .indices {
        gap: 15px;
    }

    .indices > a {
        display:none;
    }

    .typedBr, .typedEu, .typedEs, .typedCh, .typedFr {
        font-size:1.6em;
        text-align: center;
    }    

    .flagsSelecionada {
        margin-right: 0px;
    }

    .flagsSelecionada > p {
        font-size: 1em;
    }

    .flagsSelecionada > img {
        width:35px;
        height: 25px;
    }

    .btnMenu {
        width:30px;
        height: 30px;
        border:none;    
        margin-right: 20px;
        background: transparent;
        cursor: pointer;
        display: flex;
    }

    .btnMenu > span {
        color: var(--vermelhoPadrao);
        font-size:2em;
        font-weight: bold;
    }

    
footer {
    height: 100vh;
}

.logoFooter > h1 {
    margin-left: 0px;
}

.conteudoFooter {
    flex-direction: column;
}

.menuFooter {
    width: 100%;
    height: 50%;
}

.contFooter {
    width: 100%;
    height: 50%;
}

.column1 > a {
    text-align: center;
    font-size: 1.2em;
    margin-inline: 10px;
}

.copyRight > p {
    text-align: center;
    font-size: 1.2em !important;
}

.redesFooter1 > img, .redesFooter2 > img {
    width: 40px;
    height: 40px;
}

    /* Box para exibição de imagens e afins */

    .divContent {
        width: 90%;
        height: 80%;
        flex-direction: column;
    }

    .divContentDesc {
        width: 90%;
        height: 40%;
        padding: 10px 40px;
    }

    .divContentImagens {
        width: 100%;
        height: 60%;
    }

    .divDesc {
        width: 100%;
        height: 85%;
        flex-direction: column;
        justify-content: left !important;
        gap: 10px;
    }

    .imgLogo {
        width: auto;
        height: 80%;
    }

    .titleDesc {
        font-size: 1em !important;
        padding: 10px 0px;
    }

    .textDesc {
        font-size: 0.9em !important;
        height: auto;
        overflow-y: auto !important;
    }

    .imgMain {
        width: 90%;
        height: 100%;
    }

    .backButtonImage, .nextButtonImage {
        width: 50px;
        height: 50px;
        font-size: 1.6em;
    }

    .backButtonImage {
        left: 4vw;
    }

    .nextButtonImage {
        right: 4vw;
    }

}

@media screen and (width >= 767px) and (width <= 1023px) {
    .menu {
        width:95%;
        height: 8vh;
        top:3vh;
    }

    .lang {
        display: none;
        width:120px;
        right:2vw;
        top:12vh;
    }

    .logo {
        width: 16% !important;
    }

    .logo > img {
        width: 55%;
        height: 80%;
    }

    .toast {
        width: 56px;
        height: 60px;
        border-radius: 50px;
        background-color: var(--preto);
        position: fixed;
    }

    .toastOpen {
        width: 40%;
        animation: openToast 0.5s linear;
    }

    @keyframes openToast {
        from {
            width: 56px;
        }to {
            width: 40%;
        }
    }
    
    @keyframes closeToast {
        from {
            width:40%;
        }to {
            width: 56px;
        }
    }
    
    .pToast {
        font-size: 1.2em;
        width: 70%;
    }

    footer {
        height: 40vh;
    }

    .logoFooter {
        padding-top: 40px;
    }

    .logoFooter > img {
        width: 25%;
        height: 70%;
    }

    .redesFooter1 > img, .redesFooter2 > img {
        width: 40px;
        height: 40px;
    }

    .copyRight > p {
        text-align: center;
        font-size: 1.2em !important;
    }
}

@media screen and (height <= 500px) {
    .logo {
        width: 16% !important;
    }

    .logo > img {
        width: 40%;
        height: 80%;
    }

    .toast {
        top: 25vh;
    }

    footer {
        height: 120vh;
    }

    .redesFooter1 > img, .redesFooter2 > img {
        width: 40px;
        height: 40px;
    }

    .column1 > a {
        font-size: 1.2em;
    }

    .menu {
        width:95%;
        height: 18vh;
        top:3vh;
    }

    

    .flagsSelecionada > img {
        width:40px;
        height: 30px;
    }
}

@media screen and (width <= 350px) {
    .logoMenu > .logo > img {
        width: 70%;
        height: 90%;
    }

    .pToast {
        font-size: 0.8em;
        width: 70%;
    }

    .menu {
        width:90%;
        height: 10vh;
    }

    .logo {
        font-size: 0.8em;
        width: 30% !important;
    }

    .linkMenu {
        padding-left: 20px;
    }

    .userMobile {
        padding-left: 20px;
    }

    .toast {
        width: 56px;
        height: 60px;
        border-radius: 50px;
        background-color: var(--preto);
        position: fixed;
    }

    .toastOpen {
        width: 80%;
        animation: openToast 0.5s linear;
    }

    @keyframes openToast {
        from {
            width: 56px;
        }to {
            width: 80%;
        }
    }
    
    @keyframes closeToast {
        from {
            width:80%;
        }to {
            width: 56px;
        }
    }
    
 
footer {
    height: 150vh;
}

.logoFooter > img {
    width: 25%;
    height: 70%;
}

.conteudoFooter {
    flex-direction: column;
}

.menuFooter {
    width: 100%;
    height: 50%;
}

.contFooter {
    width: 100%;
    height: 50%;
}

.column1 > a {
    text-align: center;
    font-size: 1.1em;
}

.copyRight > p {
    text-align: center;
    font-size: 1em !important;
}

}