* {
    margin:0;
    padding:0;
    user-select: none;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    scroll-behavior: smooth;
    background: var(--backgroundCinza);
    height: 100%;
}

.title {
    font-family: "Montserrat", sans-serif;
}

.text {
    font-family: "Open Sans", sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.over {
    overflow: hidden;
}

.button {
    cursor:pointer;
    border:none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --preto: #000000;
    --vermelhoPadrao: #FF0000;
    --branco: #ffffff;
    --backgroundCinza: #0b0b0b;
    --cinza: #1b1b1b;
    --cinzaOpacity: #1b1b1b9d;
    --html:#E44F26;
    --css: #1572B6;
    --js: #F5DE19;
    --figma:#FF7262;
    --canva: #00C4CC;
    --git: #F34F29;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--cinza); 
  }
  
  ::-webkit-scrollbar-thumb {
    background:var(--vermelhoPadrao);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }

  .animate-on-scroll {
    opacity: 0;
  }

  .fadeIn {
    animation: fadeInUp 1s;
}

.fadeOut {
    animation: fadeOutDown 1s;
}

header {
    background:url('../image/header.jpg') center / cover no-repeat;
    width:100%;
    height:100vh;
}

.menu {
    width:80%;
    height: 10vh;
    border-radius: 20px;
    position: fixed;
    top:3vh;
    background: var(--cinzaOpacity);
    z-index: 99;
    backdrop-filter: blur(5px);
}

.menuMobile {
    display: none;
}

.logo {
    width:20%;
    height: 100%;
    padding:20px;
    justify-content: left !important;
}

.logo > a {
    width: 60px;
    height: 80%;
}

.logo > a > img {
    width: 100%;
    height: 100%;
}

.indices {
    width:80%;
    height: 100%;
    justify-content: right !important;
    gap: 24px;
}

.indices > a {
    font-size:1.2em;
    color: var(--branco);
    text-decoration: none;
}

.typedBr, .typedEu, .typedEs, .typedCh, .typedFr {
    position: relative;
    color: var(--vermelhoPadrao);
    font-size:2.5em;
}

.typed-cursor {
    font-size:2.5em;
    color:var(--vermelhoPadrao);
}

.flagsSelecionada {
    cursor: pointer;
    width:80px;
    height:60px;
    flex-direction: row;
    gap:10px;
    margin-right: 20px;
}

.flagsSelecionada > p {
    color: var(--branco);
    font-size: 1.2em;
}

.flagsSelecionada > img {
    width:40px;
    height: 30px;
    border-radius: 5px;
}

.flagsSelect {
    cursor: pointer;
    width:80px;
    height:60px;
    flex-direction: row;
    gap:10px;
}

.flagsSelect > p {
    color: var(--branco);
    font-size: 1.2em;
}

.flagsSelect > img {
    width:40px;
    height: 30px;
    border-radius: 5px;
}

.btnMenu {
    display: none;
}

.lang {
    display: none;
    z-index: 98;
    background: var(--cinzaOpacity);
    border-radius: 20px;
    width:100px;
    padding: 10px;
    height: auto;
    flex-direction: column;
    position: fixed;
    right:10vw;
    top:14vh;
    opacity: 0;
    backdrop-filter: blur(5px);
}

.fadeInLang {
    animation: fadeInDownBig;
    animation-duration: 10ms;  
}

.fadeOutLang {
    animation: fadeOutUpBig;
    animation-duration: 10ms;  
    opacity: 0.5;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--vermelhoPadrao);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
  

.toast {
    width: 65px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--preto);
    position: fixed;
    top:15vh;
    right: 2vw;
    z-index: 99;
    padding: 5px;
    opacity: 0;
    border: 1px solid yellow;
    display: none;
}

.toast.toastOpen {
    display: flex;
    opacity: 1;
    width: 30%;
    animation: openToast 0.5s linear;
}

.imgToast {
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left:0.5vw;
}

.imgToast > img {
    width: 35px;
    height: 35px;
    padding: 10px;
}

.pToast {
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
    margin-inline: 8px;
    text-align: center;
    width: 80%;
    height: 80%;
    position: absolute;
    right:0.5vw;
    animation: fadeInUpBig 1s;
}

@keyframes openToast {
    from {
        width: 65px;
    }to {
        width: 30%;
    }
}

@keyframes closeToast {
    from {
        width:30%;
    }to {
        width: 65px;
    }
}

/* Footer */

footer {
    margin-top:20px;
    height: 60vh;
    width: 100%;
    background: url('../icon/backgroundFooter.svg') center / cover no-repeat;
    flex-direction: column;
    z-index: 99;
}

.conteudoFooter {
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.menuFooter {
    width: 40%;
    height: 100%;
    flex-direction: column;
}

.logoFooter {
    padding-top: 20px;
    align-items: baseline !important;
    height: 30%;
    width: 100%;
    background: url('../icon/backTitle.svg') bottom / contain no-repeat;
    position: relative;
}

.logoFooter > img {
    width: 20%;
    height: 80%;
    position: absolute;
    top: 0;
}

.redesFooter {
    height: 50%;
    width: 100%;
    flex-direction: column;
}

.redesFooter1, .redesFooter2 {
    height: 40%;
    width: 100%;
    gap: 40px;
}

.redesFooter1 > a, .redesFooter2 > a {
    width: 40px;
    height: 40px;
}


.redesFooter1 > a > img, .redesFooter2 > a > img {
    width: 100%;
    height: 100%;
}

.contFooter {
    width: 60%;
    height: 100%;
    flex-direction: row;
}

.column1 {
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 35px;
}

.column1 > a {
    color: var(--branco);
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
}

.copyRight > p{
    height: auto;
    width: 100%;
    justify-content: left !important;
    
    color: #1b1b1b;
    font-weight: bold;
}

.copyRight > p {
    margin-inline: 30px;
    font-size: 1.2em;
}

/* Box para exibição de imagens e afins */

.boxImage {
    width: 100%;
    height: 100%;
    background-color: var(--cinzaOpacity);
    z-index: 999 !important;
    position: fixed !important;
    top:0;
}

.divContent {
    width: 70%;
    height: 80%;
    background-color: #0a0a0a;
    border-radius: 20px;
}

.divContentDesc {
    width: 35%;
    height: 100%;
    background-color: var(--preto);
    flex-direction: column;
    padding: 10px 20px;
}

.divContentImagens {
    width: 65%;
    height: 100%;
    flex-direction: column;
}

.divLogo {
    width: 100%;
    height: 15%;
    justify-content: left !important;
}

.divDesc {
    width: 100%;
    height: 85%;
    flex-direction: column;
    justify-content: left !important;
    gap: 20px;
}

.imgLogo {
    width: auto;
    height: 50%;
}

.titleDesc {
    font-size: 1.2em !important;
    color: var(--vermelhoPadrao);
    font-weight: bold;
    width: 100%;
}

.textDesc {
    font-size: 1em !important;
    color: var(--branco);
    width: 100%;
}

.textDesc > a {
    font-size: 1em;
    color: var(--vermelhoPadrao);
    font-weight: bold;
}

.divImg {
    width: 100%;
    height: 80%;
}

.imgMain {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.divButtons {
    width: 100%;
    height: 20%;
    position: relative;
}

.backButtonImage, .nextButtonImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    position: absolute;
    color: var(--branco);
    font-size: 1.8em;
    cursor:pointer;
}

.backButtonImage {
    left: 2vw;
    background-color: var(--cinza);
    transition: 0.3s linear;
}

.nextButtonImage {
    right: 2vw;
    background-color: var(--vermelhoPadrao);
    transition: 0.3s linear;
}

.nextButtonImage:hover, .backButtonImage:hover {
    background-color: var(--preto);
    transition: 0.3s linear;
}

.closedImage {
    position: absolute;
    right: 4vw;
    top:4vh;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    color: var(--branco);
    font-weight: bold;
    background-color: var(--vermelhoPadrao);
    cursor: pointer;
    font-size: 2em !important;
    transition: 0.3s linear;
}

.closedImage:hover {
    background-color: transparent;
    color: var(--vermelhoPadrao);
    transition: 0.3s linear;
}

.closedBox {
    display: none;
}

@keyframes fadeOutBox {
    from {
        opacity: 1;
    }to {
        opacity: 0;
    }
}

@keyframes fadeInBox {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}