@media screen and (width <= 767px) {

    header {
        height: 30vh !important;
    }

    .content_clock {
        background:url('../image/clock.svg') bottom / contain no-repeat !important;
        z-index: 2;
        position: relative;
        width: 100%;
        height: 80vh;
    }

    .textClock {
        width: 100%;
        top:35vh;
        height:60%;
    }

    .textClock > h1 {
        font-size: 1.6em;
    }

    .textClock > p {
        font-size: 1em;
    }
    
    .relogio {
        height: 50%;
        width:96%;
        margin-inline: 8px;
    }

    .clock {
        box-shadow: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 80%;
        width:98%;
    }

    .dados {
        font-size: 2em;
    }

    .clockChess {
        height: 140vh;
        flex-direction: column;
        margin-top: -4px;
    }
    
    .iconChess3d {
        width: 100%;
        height: 50%;
    }
    
    .contentClockChess {
        height: 35%;
    }

    .titleClockChess > h1 {
        color: var(--vermelhoPadrao);
        text-align: center;
        font-size: 1.6em;
    }

    .contentClockChess > p {
        font-size: 1em;
    }

    .clockChessDiv {
        width: 100%;
        height: 50%;
    }

    .clockChessElement {
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: relative;
    }

    .telaClockChess {
        position: relative;
        left: 0;
        flex-direction: column;
        width:100%;
        height: 100%;
        border: 2px solid var(--preto);
        background: var(--vermelhoPadrao);
        border-radius: 5px;
    }

    .telaClock {
        width:95%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 95%;
        background: #a8f3c0;
        flex-direction: column;
        gap: 50px;
    }

    .buttonsClock {
        width:100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 15%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        flex-direction: row;
    }

    .buttonsClock > button {
        width: 20%;
        height: 100%;
        background: var(--preto);
        cursor: pointer;
    }

    .personOne, .personTwo {
        width: 100%;
        height: 70%;
        flex-direction: row;
        border-right: none;
        font-size: 2.5em;

    }

    .vezPlayer {
        width: 100%;
        height: 90%;
        position: absolute;
    }

    .leftClock {
        cursor: pointer;
        position: absolute;
        top:-5px;
        left: 0px;
        width: 100%;
        height: 45%;
        background:transparent;
        border:none;
        border-top: none;
        rotate: 0deg;
        z-index: 10;
    }
    
    .rightClock {
        cursor: pointer;
        position: absolute;
        bottom:0;
        right: 0px;
        width: 100%;
        height: 45%;
        background:transparent;
        border:none;
        border-top: none;
        rotate: 0deg;
        z-index: 10;
    }

    .cronometro {
        flex-direction: column-reverse;
    }

    .contentCronometo > h1 {
        font-size: 1.6em;
    }
    
    .contentCronometo > p {
        font-size: 1em;
    }
  
.contentCronometo {
    width: 100%;
    height: 40%;
}

.clockCronometro {
    width:100%;
    height: 60%;
    justify-content: center !important;
    padding: 10px;
}

.backCronometro {
    width:100%;
    height: 100%;
}

.frontCronometro {
    width:100%;
    height: 95%;
}

.controlCronometro > button {
    width: 60px;
    height: 60px;
    font-size: 1em;
}

.numbersCronometro {
    font-size: 1.8em;
}

.numbersCronometro > input, .numbersCronometro > input {
    width: 80px;
}

}

@media screen and (width >= 767px) and (width <= 1023px) {

    header {
        height: 40vh !important;
    }

    .content_clock {
        background:url('../image/clock.svg') bottom / contain no-repeat !important;
        z-index: 2;
        position: relative;
        width: 100%;
        height: 80vh;
    }

    .textClock {
        width: 100%;
        top:35vh;
        height:60%;
    }

    .textClock > h1 {
        font-size: 2em;
    }

    .textClock > p {
        font-size: 1.6em !important;
    }
    
    .relogio {
        height: 50%;
        width:100%;
    }

    .dia, .mes {
        font-size: 1.8em;
    }

    .clock {
        box-shadow: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width:95%;
        margin-inline: 15px;
    }

    .dados {
        font-size: 5em;
    }

    .clockChess {
        height: 120vh;
        flex-direction: column;
        margin-top: -6px;
    }
    
    .clockChessDiv {
        flex-direction: column;
        width: 100%;
        height: 60%;
    }

    .iconChess3d {
        width: 100%;
        height: 40%;
    }
    
    .contentClockChess {
        height: 35%;
    }

    .titleClockChess > h1 {
        color: var(--vermelhoPadrao);
        text-align: center;
        font-size: 2em;
    }

    .contentClockChess > p {
        font-size: 1.6em;
    }
    
    .rightClock, .leftClock {
        bottom:-120px;
    }

    .cronometro {
        flex-direction: column-reverse;
        height: 80vh;
    }

    .contentCronometo > h1 {
        font-size: 2em;
    }
    
    .contentCronometo > p {
        font-size: 1.4em !important;
    }
  
.contentCronometo {
    width: 100%;
    height: 25%;
}

.clockCronometro {
    width:80%;
    height: 75%;
    justify-content: center !important;
    padding: 10px;
}

.backCronometro {
    width:100%;
    height: 100%;
}

.frontCronometro {
    width:100%;
    height: 95%;
}

.controlCronometro {
    gap: 30px;
}

.controlCronometro > button {
    width: 80px;
    height: 80px;
    font-size: 1.2em;
}

.numbersCronometro {
    font-size: 2.5em;
}

.contentCronometo > h1 {
    font-size: 2em;
}

.contentCronometo > p{
    font-size: 1.2em;
}

.minSec {
    font-size: 1.4em;
}

}

@media screen and (height <= 400px) {
    header {
        height: 60vh !important;
    }

    .content_clock {
        height: 120vh;
    }

    .relogio {
        height: 70%;
        width: 55%;
    }

    .textClock {
        width: 45%;
        position: absolute;
        left:0;
        top:0;
        justify-content: left !important;
        height: 100%;
    }

    .textClock > h1 {
        font-size: 1.6em;
    }

    .textClock > p {
        font-size: 1em;
    }

    .dia, .mes {
        font-size: 1em;

    }

    .dados {
      font-size: 2.5em;
    }

    .cronometro {
        height: 120vh;
        flex-direction: row;
    }

    .contentCronometo {
        width: 50%;
        height: 100%;
        gap: 20px;
    }

    .clockCronometro {
        width:50%;
        height: 100%;
        justify-content: center !important;
    }

    .controlCronometro {
        gap: 18px;
    }

    .controlCronometro > button {
        width: 60px;
        height: 60px;
        font-size: 1.2em;
    }
    

    .numbersCronometro {
        font-size: 1.5em;
    }

    .numbersCronometro > input, .numbersCronometro > input {
        width: 100px;
    }

    .minSec > p {
        font-size: 1em;
    }    

    .contentCronometo > h1 {
        font-size: 1.6em;
    }
    
    .contentCronometo > p {
        font-size: 1em;
    }

    .clockChess {
        flex-direction: row;
        height: 180vh;
    }

    .iconChess3d {
        width: 40%;
        height: 100%;
    }

    .contentClockChess > p {
        font-size: 1em;
    }

    .titleClockChess > h1 {
        color: var(--preto);
        font-size: 1.6em;
    }

    .contentClockChess {
        width: 100%;
        height: 30%;
    }
    .clockChessDiv {
        width: 60%;
        height: 80%;
    }

    .personOne {
        font-size: 1.5em;
    }
    
    .personTwo {
        font-size: 1.5em;
    }

    .personOne > input, .personTwo > input {
        width: 55px;
        font-size: 1.6em;
    }

    .leftClock {
        bottom:-80px;
    }
    
    .rightClock { 
        bottom:-80px;
    }
    

}

@media screen and (height >= 400px) and (height <= 500px) {
    header {
        height: 60vh !important;
    }

    .content_clock {
        height: 8 0vh;
    }

    .relogio {
        height: 70%;
        width: 55%;
    }

    .textClock {

        width: 45%;
        position: absolute;
        left:0;
        top:0;
        justify-content: left !important;
        height: 100%;
    }

    .textClock > h1 {
        font-size: 1.6em;
    }

    .textClock > p {
        font-size: 1em;
    }

    .dia, .mes {
        font-size: 1em;

    }

    .dados {
      font-size: 2.5em;
    }

    .cronometro {
        height: 100vh;
        flex-direction: row;
    }

    .contentCronometo {
        width: 50%;
        height: 100%;
        gap: 20px;
    }

    .clockCronometro {
        width:50%;
        height: 100%;
        justify-content: center !important;
    }

    .controlCronometro {
        gap: 18px;
    }

    .controlCronometro > button {
        width: 60px;
        height: 60px;
        font-size: 1.2em;
    }
    

    .numbersCronometro {
        font-size: 1.5em;
    }

    .numbersCronometro > input, .numbersCronometro > input {
        width: 100px;
    }

    .minSec > p {
        font-size: 1em;
    }    

    .contentCronometo > h1 {
        font-size: 1.6em;
    }
    
    .contentCronometo > p {
        font-size: 1em;
    }

    .clockChess {
        flex-direction: row;
        height: 120vh;
    }

    .iconChess3d {
        width: 40%;
        height: 100%;
    }

    .contentClockChess > p {
        font-size: 1em;
    }

    .titleClockChess > h1 {
        color: var(--preto);
        font-size: 1.6em;
    }

    .contentClockChess {
        width: 100%;
        height: 30%;
    }
    .clockChessDiv {
        width: 60%;
        height: 80%;
    }

    .personOne {
        font-size: 1.5em;
    }
    
    .personTwo {
        font-size: 1.5em;
    }

    .personOne > input, .personTwo > input {
        width: 55px;
        font-size: 1.6em;
    }

    .leftClock {
        bottom:-80px;
    }
    
    .rightClock { 
        bottom:-80px;
    }
    

}

@media screen and (width <= 450px) {

    header {
        height: 30vh !important;
    }

    .content_clock {
        background:url('../image/clock.svg') bottom / contain no-repeat !important;
        z-index: 2;
        position: relative;
        width: 100%;
        height: 80vh;
    }

    .textClock {
        width: 100%;
        top:35vh;
        height:40%;
    }

    .textClock > h1 {
        font-size: 1.6em;
    }

    .textClock > p {
        font-size: 1em;
    }
    
    .relogio {
        height: 60%;
        width:96%;
        margin-inline: 8px;
    }

    .clock {
        box-shadow: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 60%;
        width:98%;
    }

    .dados {
        font-size: 2em;
    }

    .clockChess {
        height: 160vh;
        flex-direction: column;
        margin-top: -4px;
    }
    
    .iconChess3d {
        width: 100%;
        height: 50%;
    }
    
    .contentClockChess {
        height: 35%;
    }

    .titleClockChess > h1 {
        color: var(--vermelhoPadrao);
        text-align: center;
        font-size: 1.4em;
    }

    .contentClockChess > p {
        font-size: 1em;
    }

    .clockChessDiv {
        width: 100%;
        height: 50%;
    }

    .clockChessElement {
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: relative;
        background-color: blue;
    }

    .telaClockChess {
        position: relative;
        left: 0;
        flex-direction: column;
        width:100%;
        height: 100%;
        border: 2px solid var(--preto);
        background: var(--vermelhoPadrao);
        border-radius: 5px;
    }

    .telaClock {
        width:95%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 95%;
        background: #a8f3c0;
        flex-direction: column;
        gap: 50px;
    }

    .buttonsClock {
        width:100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 15%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
        flex-direction: row;
    }

    .buttonsClock > button {
        width: 20%;
        height: 100%;
        background: var(--preto);
        cursor: pointer;
    }

    .personOne, .personTwo {
        width: 100%;
        height: 70%;
        flex-direction: row;
        border-right: none;
        font-size: 2.5em;

    }

    .vezPlayer {
        width: 100%;
        height: 90%;
        position: absolute;
    }

    .leftClock {
        cursor: pointer;
        position: absolute;
        bottom:-5px;
        left: 0px;
        width: 100%;
        height: 45%;
        background:transparent;
        border:none;
        border-top: none;
        rotate: 0deg;
        z-index: 10;
    }
    
    .rightClock {
        cursor: pointer;
        position: absolute;
        top:0;
        right: 0px;
        width: 100%;
        height: 45%;
        background:transparent;
        border:none;
        border-top: none;
        rotate: 0deg;
        z-index: 10;
    }

    .cronometro {
        height: 120vh;
        flex-direction: column-reverse;
    }

    .contentCronometo > h1 {
        font-size: 1.6em;
    }
    
    .contentCronometo > p {
        font-size: 1em;
    }
  
.contentCronometo {
    width: 100%;
    height: 40%;
}

.clockCronometro {
    width:100%;
    height: 60%;
    justify-content: center !important;
    padding: 10px;
}

.backCronometro {
    width:100%;
    height: 100%;
}

.frontCronometro {
    width:100%;
    height: 95%;
}

.controlCronometro > button {
    width: 50px;
    height: 50px;
    font-size: 1em;
}

.numbersCronometro {
    font-size: 1.2em;
}

.numbersCronometro > input, .numbersCronometro > input {
    width: 80px;
}

.minSec > p {
    font-size: 1em;
}

}