@media screen and (width <= 767px) {
    .cont {
        width: 100%;
        height: 80%;
        padding-left: 10px;
    }

    .buttons {
        width: 90%;
        height: 25%;
        flex-direction: row;
    }

    .grade {
        height: 100%;
        width: 50%;
        flex-direction: column;
    }

    .grade > button {
        width: auto;
        height: 55%;
    }

    .conteudoGenshin > h1 {
        font-size: 1.6em;
        color: #E4C796;
        width: 95%;
    }

    .conteudoGenshin > p {
        font-size: 1.1em;
        width: 95%;
    }

    .conteudoGenshin > img {
        width: 100px;
        height: 100px;
    }

    /* Personagens */

    .personagens {
        height: 120vh;
        flex-direction: column;
        position: relative;
    }

    .personagem {
        bottom: 0;
        height: 50%;
    }

    .personagem > img {
        width: 100%;
    }

    .dadosPerson {
        width: 100%;
        height: 50%;
        top: 3vh;
    }

    .tipoPerson {
        height: 80%;
    }

    .contPerson {
        background-color: rgba(0, 0, 0, 0.473);
        height: 100%;
        gap: 20px;
    }
    
/* Game */

.game3d {
    background: url('../image/backGame.jpg') center / cover no-repeat;
    top:0;
    width: 100%;
    height: 50%;
}

.dadosGame {
    bottom: 0;
    width: 100%;
    height: 50%;
    gap: 30px;
}

.dadosGame > h1 {
    font-size: 1.6em;
}

.dadosGame > p {
    font-size: 1.1em;
}

/* Regiões */

.regioes {
    height: 130vh;
}

.regioes > video {
    height: 60%;
    position: absolute;
    top: 0;
}

.regiao {
    top: 0;
    width: 25%;
    height: 60%;
}

.contentRegiao {
    width: 100%;
    height: 40%;
    bottom: 0;
}

.contentRegiao > img {
    width: 130px;
    height: 130px;
}

.contentRegiao > h1 {
    font-size: 1.6em;
}

.contentRegiao > p {
    font-size: 1em;
}

}

@media screen and (width >= 767px) and (width <= 1023px) {
    .cont {
        top: 20vh;
        width: 70%;
        height: 90%;
    }

    .conteudoGenshin {
        height: 50%;
    }

    .conteudoGenshin > h1 {
        font-size: 2.2em;
        width: 95%;
    }

    .conteudoGenshin > p {
        font-size: 1.6em;
        width: 95%;
    }

    .buttons {
        width: 90%;
        height: 25%;
        flex-direction: row;
        gap:10px;
    }

    .grade {
        height: 100%;
        width: 50%;
        flex-direction: column;
    }

    .grade > button {
        width: auto;
        height: 55%;
    }

      /* Personagens */

    .personagens {
        height: 120vh;
        flex-direction: column-reverse;
        position: relative;
    }

    .personagem {
        width: 100%;
        height: 60%;
        bottom:0;
    }

    .personagem > img {
        width: 100%;
    }

    .dadosPerson {
        width: 100%;
        height: 40%;
        top: 0vh;
    }

    .langAudio {
        font-size: 1.8em;
    }

    #play > span {
        font-size: 4em !important;
    }

    .tipoPerson {
        height: 80%;
    }

    .contPerson {
        background-color: rgba(0, 0, 0, 0.473);
        height: 100%;
        gap: 20px;
    }

    .tipoPerson {
        height: 100%;
    }

    .tipoPerson > img {
        width: 100%;
        height: 100%;
        object-fit:contain;
    }

    .contPerson > h1 {
        font-size: 2.5em;
    }

    .contPerson > p {
        font-size: 1.6em;
    }

    .btnPrev > button > span {
        font-size: 3em;
    }
       
/* Game */

.game3d {
    background: url('../image/backGame.jpg') center / cover no-repeat;
    top:0;
    width: 100%;
    height: 50%;
}

.dadosGame {
    bottom: 0;
    width: 100%;
    height: 50%;
    gap: 40px;
}

.dadosGame > h1 {
    font-size: 2.5em;
}

.dadosGame > p {
    font-size: 1.6em;
}

.regiao > img {
    width:120px;
    height: 120px;
}

.contentRegiao > p {
    font-size: 1.4em;
}
}

@media screen and (height <= 500px) {
    header > video, header {
        height: 150vh !important;
    }

    .cont {
        margin-left: -150px !important;
        position: relative;
        width: 70%;
        height: 100%;
    }

    .conteudoGenshin {
        height: 50%;
    }

    .conteudoGenshin > h1 {
        font-size: 1.4em;
        width: 95%;
    }

    .conteudoGenshin > p {
        font-size: 1em;
        width: 95%;
    }

    .buttons {
        width: 100%;
        height: 30%;
        flex-direction: column;
        margin-bottom: 4vh;
    }

    .grade {
    
        height: 30%;
        width: 100%;
        flex-direction: row;
    }

    .grade > button {
        width: auto;
        height: 100%;
    }

    .conteudoGenshin > img {
        width: 100px;
        height: 100px;
    }

    .personagens {
        flex-direction: row;
    }

    .dadosPerson {
        width:40%;
        height: 100%;
    }

    .contPerson {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.473);
    }

    .contPerson > h1 {
        font-size: 1.6em;
    }

    .contPerson > p {
        font-size: 1em;
    }

    .audioBtn {
        height: 12vh;
    }

    .langAudio {
        font-size: 1.2em;
    }

    #play  {
        font-size: 0.6em;
    }

    .personagem {
        width: 70%;
        height: 100%;
    }

    .btnPrev {
        height: 14vh;
    }

    .btnPrev > button > span {
        font-size: 1.6em;
    }

    .game {
        height: 150vh;
        flex-direction: row;
    }

    .game3d {
        background: url('../image/backGame.jpg') center / cover no-repeat;
        left: 0;
        width: 50%;
        height: 100%;
    }
    
    .dadosGame {
        width: 50%;
        height: 100%;
        right: 0;
    }

    .dadosGame > h1 {
        font-size: 1.6em;
    }

    .dadosGame > p {
        font-size: 1em;
    }

    .dadosGame > button {
        height: 10vh;
    }

    .regioes {
        position: relative;
        width: 100%;
        height: 220vh;
    }
}

@media screen and (width <= 350px) {
    .cont {
        width: 100%;
        height: 80%;
        padding-left: 10px;
    }

    .buttons {
        width: 90%;
        height: 25%;
        flex-direction: row;
    }

    .grade {
        height: 100%;
        width: 50%;
        flex-direction: column;
    }

    .grade > button {
        width: auto;
        height: 30%;
    }

    .conteudoGenshin > h1 {
        font-size: 1.2em;
        color: #E4C796;
        width: 95%;
    }

    .conteudoGenshin > p {
        font-size:0.8em;
        width: 95%;
    }

    .conteudoGenshin > img {
        width: 100px;
        height: 100px;
    }

    /* Personagens */

    .personagens {
        height: 150vh;
        flex-direction: column;
        position: relative;
    }

    .personagem {
        width: 100%;
        height: 50%;
        bottom:0;
    }

    .dadosPerson {
        width: 100%;
        height: 50%;
        top: 3vh;
    }

    .tipoPerson {
        height: 80%;
    }

    .contPerson {
        background-color: rgba(0, 0, 0, 0.473);
        height: 100%;
        gap: 20px;
    }

    .contPerson > h1 {
        font-size: 1.6em;
    }

    .contPerson > p {
        font-size: 1em;
    }

    /* Game */

    .game {
        height: 150vh;
    }

.game3d {
    background: url('../image/backGame.jpg') center / cover no-repeat;
    top:0;
    width: 100%;
    height: 50%;
}

.dadosGame {
    bottom: 0;
    width: 100%;
    height: 50%;
    gap: 30px;
}

.dadosGame > h1 {
    font-size: 1.4em;
}

.dadosGame > p {
    font-size: 1em;
}

.dadosGame > button {
    width: 90%;
    height: 6vh;
    font-size: 1.2em;
}

/* Regiões */

.regioes {
    height: 150vh;
}

.regioes > video {
    height: 60%;
    position: absolute;
    top: 0;
}

.regiao {
    top: 0;
    width: 25%;
    height: 60%;
}

.regiao > img {
    width:70px;
    height: 70px;
}

.contentRegiao {
    width: 100%;
    height: 40%;
    bottom: 0;
}

.contentRegiao > img {
    width: 100px;
    height: 100px;
}

.contentRegiao > h1 {
    font-size: 1.4em;
}

.contentRegiao > p {
    font-size: 0.8em;
}
}