* {
    cursor: url('../icon/cursor.png'), auto;
}

:root {
    --genshin: #E4C796;
}

header > video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

main {
    flex-direction: column;
}

.cont {
    justify-content: left !important;
    align-items: baseline !important;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 50%;
    height: 90%;
    flex-direction: column;
    gap:20px;
    padding-left: 30px;
}

.conteudoGenshin {
    align-items: baseline !important;
    position: relative;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 60%;
    flex-direction: column;
    gap:20px;
}

.conteudoGenshin > h1 {
    font-size: 2em;
    color: var(--genshin);
    width: 80%;
}

.conteudoGenshin > p {
    font-size: 1.2em;
    color: var(--branco);
    width: 80%;
}

.conteudoGenshin > img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    position: relative;
    left: 0;
    object-fit: cover !important;
}

.buttons {
    width: 80%;
    height: 20%;
    flex-direction: column;
}

.grade {
    justify-content: left !important;
    flex-direction: row;
    width: 100%;
    height: 50%;
    gap:10px;
}

.grade > button {
    width: auto;
    height: 70%;
    border-radius: 10px;
    background: var(--preto);
}

.grade > button > img {
    object-fit: cover;
    width: auto;
    height:100%;
}

/* Personagens */

.personagens {
    width: 100%;
    height: 120vh;
    flex-direction: row;
    position: relative;
    background: url('../image/backPersons.svg') center / cover  no-repeat;
}

.dadosPerson {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    flex-direction: column;
}

.tipoPerson {
    position: absolute;
    top:0;
    z-index: 1;
    height: 60%;
    width: 100%;
}

.tipoPerson > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contPerson {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    z-index: 2;
    gap: 20px;
}

.contPerson > h1 {
    font-size: 2em;
    color: var(--genshin);
    font-weight: bold;
    width: 90%;
}

.contPerson > p {
    width: 90%;
    color: var(--branco);
    font-size: 1.2em;
}

.audioBtn {
    width: 90%;
    background-color: var(--genshin);
    flex-direction: row;
    border-radius: 15px;
    height: 6vh;
}

.play, .pause {
    width: 70%;
    height: 100%;
    background-color: var(--genshin);
}

.langAudio {
    border-left: 1px solid var(--preto);
    background-color: var(--genshin);
    width: 30%;
    height: 100%;
    font-weight: bold;
}

.personagem {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: right !important;
}

.personagem > img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.btnPrev {
    width: 90%;
    height: 8vh;
    position: relative;
}

.next, .back {
    width: 30%;
    height: 80%;
    border-radius: 20px;
    background-color: var(--genshin);
    position: absolute;
}

.next {
    right: 0;
}

.back {
    left: 0;
}

/* Regiões */

.regioes {
    position: relative;
    width: 100%;
    height: 100vh;
}

.regioes > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.regiao {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.678), transparent);
    flex-direction: column;

}

.regiao > img {
    width:100px;
    height: 100px;
}

.contentRegiao {
    align-items: baseline !important;
    padding-left: 20px;
    width: 50%;
    position: absolute;
    left: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.836), transparent);
    flex-direction: column;
    gap: 20px;
}

.contentRegiao > img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.contentRegiao > h1 {
    font-size: 2em;
    color: var(--genshin);
    font-weight: bold;
}

.contentRegiao > p {
    width: 90%;
    font-size: 1.2em;
    color: var(--branco);
}

/* Game */

.game {
    width: 100%;
    height: 100vh;
    flex-direction: row;
    position: relative;
}

.game3d {
    background: url('../image/backGame.jpg') center / contain no-repeat;
    position: absolute;
    left:0;
    z-index: 1;
    width: 50%;
    height: 100%;
    justify-content: left !important;
    align-items: baseline !important;
}

.dadosGame {
    background-color: var(--preto);
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
    flex-direction: column;
    gap: 30px;
}

.dadosGame > h1 {
    font-size: 2em;
    color: var(--genshin);
    font-weight: bold;
    width: 90%;
}

.dadosGame > p {
    font-size: 1.2em;
    color: var(--branco);
    width: 90%;
}

.dadosGame > button {
    width: 90%;
    height: 6vh;
    border-radius: 30px;
    background-color: var(--genshin);
    font-size: 1.2em;
}

.dadosGame > button > a {
    text-decoration: none;
    color:var(--preto);
}

/* Animações */

.entradaTipo {
    animation: fadeInDown 0.5s;
}

.saidaTipo {
    animation: fadeOutUp 0.5s;
}

.entradaPerson {
    animation: fadeInRight 0.5s;
}

.saidaPerson {
    animation: fadeOutRight 0.5s;
}

.entradaRegiao {
    animation: fadeInLeft 0.5s;
}

.saidaRegiao {
    animation: fadeOutLeft 0.5s;
}