* {
    cursor: url('../icon/cursor.png'), auto;
}

:root {
    --genshin: #E4C796;
}

header > video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.cont {
    justify-content: left !important;
    align-items: baseline !important;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 50%;
    height: 90%;
    flex-direction: column;
    gap:20px;
    padding-left: 30px;
}

.conteudoGenshin {
    align-items: baseline !important;
    position: relative;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 60%;
    flex-direction: column;
    gap:20px;
}

.conteudoGenshin > h1 {
    font-size: 2em;
    color: var(--genshin);
    width: 80%;
}

.conteudoGenshin > p {
    font-size: 1.2em;
    color: var(--branco);
    width: 80%;
}

.conteudoGenshin > img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    position: relative;
    left: 0;
    object-fit: cover !important;
}

.buttons {
    width: 80%;
    height: 20%;
    flex-direction: column;
}

.grade {
    justify-content: left !important;
    flex-direction: row;
    width: 100%;
    height: 50%;
    gap:10px;
}

.grade > button {
    width: auto;
    height: 70%;
    border-radius: 10px;
    background: var(--preto);
}

.grade > button > img {
    object-fit: cover;
    width: auto;
    height:100%;
}

.regioes {
    position: relative;
    width: 100%;
    height: 100vh;
}

.regioes > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.regiao {
    position: absolute;
    right: 0;
    width: 15%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.678), transparent);
    flex-direction: column;

}

.regiao > img {
    width:100px;
    height: 100px;
}

.contentRegiao {
    align-items: baseline !important;
    padding-left: 20px;
    width: 50%;
    position: absolute;
    left: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.836), transparent);
    flex-direction: column;
    gap: 20px;
}

.contentRegiao > img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.contentRegiao > h1 {
    font-size: 2em;
    color: var(--genshin);
    font-weight: bold;
}

.contentRegiao > p {
    width: 90%;
    font-size: 1.2em;
    color: var(--branco);
}