@media screen and (width <= 767px) {
    header {
        height: 110vh !important;
        position: relative;
        margin-bottom: 0px;
    }
    

    .cont {
        width:98%;
        height:80%;
    }
    
.contTotal {
    top:0;
    height:100%;
}
    
.imgPerson {
    display:none !important;
}

.dados {
    position: relative;
    top:3vh;
    width:100%;
    height:100vh;
}

.btnControls {
    position: fixed;
    top: 0;
    height:35%;
    gap: 5px;
    flex-direction: column;
}

.btnControls > button { 
    width:90%;
    height:5vh;
    margin:0px 2px;
    font-size: 1.1em;
}

.status {
    width:100%;
    height:70%;
    position: fixed;
    bottom: 0;
}

.status1, .status2 {
    height: 80%;
    justify-content: left !important;
}

.status2 > #statusButton {
    width:30vw;
    bottom:8vh;
    right: 2vw;
    z-index: 5;
}

.download > #copiar {
    width:30vw;
    bottom:3vh;
    right: 5vw;
    z-index: 5;
}

.outro > #outroButton {
    width:30vw;
    bottom:3vh;
    right: 5vw;
    z-index: 5;
}

.descDiv2 > #descButton {
    width:42vw;
    bottom:12vh;
    right: 2vw;
    z-index: 5;
}

.download > #voltarDown {
    width:30vw;
    bottom:3vh;
    left: 6vw;
    z-index: 5;
}

.outro > #voltarOutro {
    width:30vw;
    bottom:3vh;
    left: 5vw;
    z-index: 5;
}

.descDiv2 > #voltarDesc {
    width:42vw;
    bottom:5vh;
    right: 2vw;
    z-index: 5;
}

.descDiv, .descDiv2 {
    justify-content: left !important;
    margin-top: 50px;
}

.desc {
    display: none;
    height:70%;
    position: fixed;
    bottom: 0;
}

.descricao {
    width:90%;
}

.download {
    margin-top: 20px;
    justify-content: left !important;
    display: none;
    height: 70%;
    position: fixed;
    bottom: 0;
}

.download textarea {
    width:80%;
    height:70%;
    margin-top:20px;
}

#downloadText {
    resize: none;
}

.contentDescProject {
    height: 200vh;
    flex-direction: column;
}

.textProject {
    width: 90%;
    height: 60%;
    padding-block:80px
}

.textProject > img {
    height: 200px;
    width: 300px;
}

.textProject > h1 {
    font-size: 2em;
    width: 100%;
}

.textProject > p {
    width: 100%;
    font-size: 1.2em;
}

.personSung {
    width: 100%;
    height: 40%;
}

.personSung > img {
    width: 95%;
    height: 100%;
}

.outro {
height: 60%;
position: fixed;
bottom: 0;
padding-block: 30px;
    justify-content: center !important;
}

}

@media screen and (width >= 767px) and (width <= 1023px) {
    header {
        height: 85vh !important;
    }
    
    .cont {
        top:10vh;
        width:95%;
        height:60vh;
        border-radius: 20px;
    }
    
.contTotal {
    top:3vh;
    height:70vh;  
}
    
.imgPerson {
        display: none !important;
}
    
.imgPerson > img { 
        width:80%;
        height:100%;
    
}
    
.imgPerson > button {
    overflow:hidden;
    width:25vw;
    height:5vh;
    position: absolute;
    display:none;
    justify-content: center;
    align-items: center;
    right:2vw;
    color:white;
    border:none;
    top:12vh;
    z-index:3;
    font-size:16pt;
    cursor:pointer;
}

.dados {
    position: relative;
    top:3vh;
    width:100%;
    height:100%;
}

.btnControls > button {
    width:25vw;
    font-size:1.6em;
}

.status {
    width:100%;
    height:85%;
}

.status1, .status2 {
    justify-content: left !important;
    margin-top: 100px;
}

.status1 > input, .status2 > input, .descDiv > input, .descDiv2 > input, .outro > input {
    margin:15px 0px;
    font-size:1.4em;
}

.status2 > #statusButton {
    width:30vw;
    bottom:13vh;
    right: 2vw;
    z-index: 5;
    font-size: 1.4em;
}

.status2 > #statusButton > span {
    font-size: 1.4em;
}

.download > #copiar {
    width:30vw;
    bottom:15vh;
    right: 5vw;
    z-index: 5;
    font-size: 1.4em;
}

.outro > #outroButton {
    width:30vw;
    bottom:14vh;
    right: 5vw;
    z-index: 5;
    font-size: 1.4em;
}

.outro > #outroButton {
    font-size: 1.4em;
}

.descDiv2 > #descButton {
    width:20vw;
    bottom:14vh;
    right: 2vw;
    z-index: 5;
    font-size: 1.4em;
}

.download > #voltarDown {
    width:30vw;
    bottom:15vh;
    left: 5vw;
    z-index: 5;
    font-size: 1.4em;
}

.outro > #voltarOutro {
    width:30vw;
    bottom:14vh;
    left: 5vw;
    z-index: 5;
    font-size: 1.4em;
}


.descDiv2 > #voltarDesc {
    width:20vw;
    bottom:14vh;
    right: 25vw;
    z-index: 5;
    font-size: 1.4em;
}


.status1 > p,.status2 > p, .descDiv > p, .descDiv2 > p, .outro > p {
    font-size:1.4em;
}

.desc {
    display: none;
}

.descDiv, .descDiv2 {
    justify-content: left !important;
}

#descricao {
    width:90%;
    height:40%;
}

.outro {
    display: none;
    justify-content: left !important;
    margin-top: 40px;
}

.download {
    display: none ;
    justify-content: left !important;
    margin-top: 20px;
}

.download > textarea {
    width:90%;
    height:60%;
    font-size:1.6em;
}

#downloadText {
    resize: none;
}

.contentDescProject {
    width:100%;
    height: 90vh;
}

.personSung > img {
    width: 100%;
    height: 90%;
}

.textProject > img {
    height: 250px;
    width: 350px;
}
}

@media screen and (height <= 500px)  {
    header {
        height: 240vh !important;
    }

    .cont {
        top:10vh;
        width:95%;
        height:180vh;
        border-radius: 20px;
    }
    
.contTotal {
    top:3vh;
    height:180vh;  
}
    
.imgPerson {
        display: none !important;
}
    
.imgPerson > img { 
        width:80%;
        height:100%;
}
    
.imgPerson > button {
    overflow:hidden;
    width:25vw;
    height:5vh;
    position: absolute;
    display:none;
    justify-content: center;
    align-items: center;
    right:2vw;
    color:white;
    border:none;
    top:12vh;
    z-index:3;
    font-size:16pt;
    cursor:pointer;
}

.dados {
    position: relative;
    top:3vh;
    width:100%;
    height:100%;
}

.menu {
    width:100%;
    height:25%;
}

.btnControls > button {
    width:25vw;
    height: 100%;
    font-size:1.2em;
}

.status {
    width:100%;
    height:85%;
}

.status1, .status2 {
    justify-content: left !important;
    margin-top: 100px;
}

.status1 > input, .status2 > input, .descDiv > input, .descDiv2 > input, .outro > input {
    margin:15px 0px;
    font-size:1.4em;
    height: 10vh;
}

.status2 > #statusButton {
    width:30vw;
    height: 15vh;
    bottom:13vh;
    right: 2vw;
    z-index: 5;
    font-size: 1.4em;
}

.status2 > #statusButton > span {
    font-size: 1.4em;
}

.download > #copiar {
    width:30vw;
    height: 15vh;
    bottom:25vh;
    right: 5vw;
    z-index: 5;
    font-size: 1.4em;
}

.download > #copiar > span {
    font-size: 1.2em;
}

.outro > #outroButton {
    width:30vw;
    height: 15vh;
    bottom:14vh;
    right: 5vw;
    z-index: 5;
    font-size: 1.4em;
}

.outro > #outroButton {
    font-size: 1.4em;
}

.descDiv2 > #descButton {
    width:20vw;
    bottom:25vh;
    height: 15vh;
    right: 2vw;
    z-index: 5;
    font-size: 1.4em;
}

.download > #voltarDown {
    width:30vw;
    bottom:25vh;
    height: 15vh;
    left: 6vw;
    z-index: 5;
    font-size: 1.4em;
}

.download > #voltarDown > span {
    font-size: 1.4em;
}

.outro > #voltarOutro {
    width:30vw;
    bottom:14vh;
    left: 5vw;
    height: 15vh;
    z-index: 5;
    font-size: 1.4em;
}

.descDiv2 > #voltarDesc {
    width:20vw;
    bottom:25vh;
    height: 15vh;
    right: 25vw;
    z-index: 5;
    font-size: 1.4em;
}


.status1 > p,.status2 > p, .descDiv > p, .descDiv2 > p, .outro > p {
    font-size:1.4em;
}

.desc {
    display: none;
}

.descDiv, .descDiv2 {
    justify-content: left !important;
}

#descricao {
    width:90%;
    height:40%;
}

.outro {
    display: none;
    justify-content: left !important;
    margin-top: 40px;
}

.download {
    display: none ;
    justify-content: left !important;
    margin-top: 20px;
}

.download > textarea {
    width:90%;
    height:60%;
    font-size:1.6em;
}

#downloadText {
    resize: none;
}

.contentDescProject {
    width:100%;
    height: 280vh;
}

.personSung > img {
    width: 100%;
    height: 90%;
}

.textProject > img {
    height: 250px;
    width: 350px;
}

.textProject > p {
    font-size: 1.2em;
}
}

@media screen and (width <= 350px) {
    header {
        height: 150vh !important;
        position: relative;
        margin-bottom: 0px;
    }

    .cont {
        width:98%; 
        top: 10vh;
        border-radius: 20px;
        height:120vh;
        justify-content: left !important;
    }
    
.contTotal {
    border-radius: 20px;
    top:5vh;
    height:150vh;
    margin-top: 20px;
    justify-content: left !important;
    align-items: baseline !important;
}
    
.imgPerson {
    display:none !important;
}

.dados {
    position: relative;
    top:3vh;
    width:100%;
    height:120vh;
}

.btnControls {
    height:35%;
    gap: 10px;
    position: fixed;
    top: 0;
    flex-direction: column;  
}

.btnControls > button { 
    width:90%;
    height:5vh;
    margin:0px 2px;
    font-size: 1em;
}

.status {
    width:100%;
    height:65%;
    position: fixed;
    bottom: 0;
    align-items: baseline !important;
}

.status1, .status2 {
    height: 80%;
    margin-top: 0px;
    justify-content: left !important;
}

.status2 > #statusButton {
    width:30vw;
    height: 6vh;
    bottom:40vh;
    right: 2vw;
    z-index: 5;
}

.download > #copiar {
    width:30vw;
    bottom:28vh;
    right: 5vw;
    z-index: 5;
    height: 6vh;
}

.outro > #outroButton {
    width:35vw;
    bottom:30vh;
    right: 5vw;
    z-index: 5;
    height: 7vh;
}

.descDiv2 > #descButton {
    width:42vw;
    bottom:40vh;
    right: 2vw;
    z-index: 5;
    height: 6vh;
}

.download > #voltarDown {
    width:30vw;
    bottom:28vh;
    left: 6vw;
    height: 6vh;
    z-index: 5;
}

.outro > #voltarOutro {
    width:35vw;
    bottom:30vh;
    left: 5vw;
    height: 6vh;
    z-index: 5;
}

.descDiv2 > #voltarDesc {
    width:42vw;
    bottom:30vh;
    right: 2vw;
    z-index: 5;
    height: 6vh;
}

.desc {
    position: fixed;
    bottom: 0;
    display: none;
    height:70%;
}

.descDiv, .descDiv2 {
    margin-top: 60px;
    justify-content: left !important;
}

.outro {
    justify-content: left !important;
    margin-top: 10px;
}

.descricao {
    width:90%;
}

.download {
    margin-top: 20px;
    justify-content: left !important;
    display: none;
    height: 70%;

}

.download textarea {
    width:80%;
    height:55%;
}

#downloadText {
    resize: none;
}

.contentDescProject {
    height: 240vh;
    flex-direction: column;
}

.textProject {
    width: 90%;
    height: 50%;
    padding-block:80px
}

.textProject > img {
    height: 150px;
    width: 200px;
}

.textProject > h1 {
    font-size: 1.6em;
    width: 100%;
}

.personSung {
    width: 100%;
    height: 50%;
}

}
