@media screen and (width <= 767px) {
    .cont {
        width:98%;
        height:auto;
    }
    
.contTotal {
    top:0;
    height:100%;
}
    
.imgPerson {
    display:none !important;
}


.dados {
    position: relative;
    top:3vh;
    width:100%;
    height:100vh;
}

.btnControls {
    height:25%;
    gap: 30px;
    flex-direction: column;
}

.btnControls > button { 
    width:90%;
    height:5vh;
    margin:0px 2px;
    font-size: 1em;
}

.status {
    width:100%;
    height:70%;
}

.status1, .status2 {
    height: 80%;
    justify-content: left !important;
}

.status2 > button, .descDiv2 > button, .outro > button, .download > button {
    width:30vw;
    bottom:12vh;
    right: 5vw;
    z-index: 5;
}

.desc {
    display: none;
    height:85%;
}

.descricao {
    width:90%;
}

.download {
    margin-top: 20px;
    justify-content: left !important;
    display: none;
    height: 70%;
}

.download textarea {
    width:80%;
    height:70%;
}

#downloadText {
    resize: none;
}

.contentDescProject {
    height: 200vh;
    flex-direction: column;
}

.textProject {
    width: 90%;
    height: 60%;
    padding-block:80px
}

.textProject > img {
    height: 200px;
    width: 300px;
}

.textProject > h1 {
    font-size: 2em;
    width: 100%;
}

.textProject > p {
    width: 100%;
    font-size: 1.2em;
}

.personSung {
    width: 100%;
    height: 40%;
}

.personSung > img {
    width: 95%;
    height: 100%;
}

}

@media screen and (width <= 500px) {
    header {
        height: 120vh !important;
        position: relative;
        margin-bottom: 20px;
    }

    .cont {
        width:98%; 
        top: -2vh;
        border-radius: 20px;
        height:120vh;
        justify-content: left !important;
    }
    
.contTotal {
    border-radius: 20px;
    top:5vh;
    height:150vh;
    margin-top: 20px;
    justify-content: left !important;
    align-items: baseline !important;
}
    
.imgPerson {
    display:none !important;
}

.dados {
    position: relative;
    top:3vh;
    width:100%;
    height:100vh;
}

.btnControls {
    height:50%;
    gap: 10px;
    flex-direction: column;
    
}

.btnControls > button { 
    width:90%;
    height:5vh;
    margin:0px 2px;
    font-size: 1em;
}

.status {
    width:100%;
    height:70%;
    align-items: baseline !important;
}

.status1, .status2 {
    height: 80%;
    margin-top: 0px;
    justify-content: left !important;
}

.status2 > button, .descDiv2 > button, .outro > button, .download > button {
    width:30vw;
    bottom:2vh;
    right: 5vw;
    z-index: 5;
}

.desc {
    display: none;
    height:100%;
}

.descDiv, .descDiv2 {
    margin-top: 60px;
    justify-content: left !important;
}

.outro {
    justify-content: left !important;
    margin-top: 10px;
}

.descricao {
    width:90%;
}

.download {
    margin-top: 20px;
    justify-content: left !important;
    display: none;
    height: 70%;

}

.download textarea {
    width:80%;
    height:70%;
}

#downloadText {
    resize: none;
}

.contentDescProject {
    height: 240vh;
    flex-direction: column;
}

.textProject {
    width: 90%;
    height: 50%;
    padding-block:80px
}

.textProject > img {
    height: 150px;
    width: 200px;
}

.textProject > h1 {
    font-size: 1.6em;
    width: 100%;
}

.personSung {
    width: 100%;
    height: 50%;
}

}

@media screen and (min-width:767px) and (max-width:1023px) {
    .cont {
        top:5vh;
        width:95%;
        height:60vh;
        border-radius: 20px;
    }
    
.contTotal {
    top:3vh;
    height:70vh;  
}
    
.imgPerson {
        display: none !important;
}
    
.imgPerson > img { 
        width:80%;
        height:100%;
    
}
    
.imgPerson > button {
    overflow:hidden;
    width:25vw;
    height:5vh;
    position: absolute;
    display:none;
    justify-content: center;
    align-items: center;
    right:2vw;
    color:white;
    border:none;
    top:12vh;
    z-index:3;
    font-size:16pt;
    cursor:pointer;
}

.dados {
    position: relative;
    top:3vh;
    width:100%;
    height:100%;
}

.menu {
    width:100%;
    height:15%;
}

.btnControls > button {
    width:25vw;
    font-size:1.6em;
}

.status {
    width:100%;
    height:85%;
}

.status1, .status2 {
    justify-content: left !important;
    margin-top: 100px;
}

.status1 > input, .status2 > input, .descDiv > input, .descDiv2 > input, .outro > input {
    margin:15px 0px;
    font-size:1.4em;
}

.status2 > button, .descDiv2 > button, .outro > button, .download > button {
    width:25vw;
    height:5vh;
    font-size:1.4em;
    bottom: 13vh;
    right: 2vw;
}

.status1 > p,.status2 > p, .descDiv > p, .descDiv2 > p, .outro > p {
    font-size:1.4em;
}

.desc {
    display: none;
}

.descDiv, .descDiv2 {
    justify-content: left !important;
}

#descricao {
    width:90%;
    height:40%;
}

.outro {
    display: none;
    justify-content: left !important;
    margin-top: 40px;
}

.download {
    display: none ;
    justify-content: left !important;
    margin-top: 20px;
}

.download > textarea {
    width:90%;
    height:60%;
    font-size:1.6em;
}

#downloadText {
    resize: none;
}

.contentDescProject {
    width:100%;
    height: 90vh;
}

.personSung > img {
    width: 100%;
    height: 90%;
}

.textProject > img {
    height: 250px;
    width: 350px;
}
}