header {
    background:url('../image/ray.svg') center / cover no-repeat !important;
    height: 100vh !important;
    animation: fadeInDown 1s;
}

main {
    flex-direction: column;
}

.logoPokemon {
    width: 40vw;
    height: 60vh;
    position: absolute;
    left: 2vw;
    flex-direction: column;
    align-items: baseline !important;
    gap: 50px;
    bottom: 10vh;
}

.logoPokemon > img {
    width: auto;
    height: 30%;
    object-fit: cover;
}

.logoPokemon > p {
    color: var(--branco);
    font-size: 1.2em;
    font-weight: bold;
}

.gamesPoke {
    width: 100%;
    height: 120vh;
    background: var(--cinzaOpacity);
    position: relative;
    pointer-events: all;
}

.gamesPoke > video {
    width: 120%;
    height: 120%;
    z-index: -5;
}

.games {
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    overflow-x: auto !important;
    scrollbar-width: none;
    overscroll-behavior-x: contain;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, var(--preto), transparent);
    justify-content: left !important;
}

.capaPokemon {
    width: 180px;
    height: 75%;
    border-radius: 20px;
    margin-inline: 20px;
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}

.capaPokemon.actived {
    width: 200px;
    height: 80%;
    border-radius: 20px;
    margin-inline: 20px;
    opacity: 1;
}

.capaPokemon:hover {
    width: 200px;
    transition: 0.2s ease-in-out;
    height: 80%;
    opacity: 1;
}

.capaPokemon > img {
    width: 100%;
    height: 100%;
    cursor:pointer;
    object-fit: cover;
}

.contGamePokemon {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    justify-content: left !important;
}

.contPokemon {
    margin-left: 2vw;
    width: 40%;
    height: 100%;
    flex-direction: column;
    align-items: baseline !important;
    gap: 30px;
}

.contPokemon > img {
    width: auto;
    height: 25%;
}

.contPokemon > p {
    font-size: 1em;
    color: var(--branco);
    font-weight: bold;
}

.nintendo {
    cursor: pointer;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    border:none;
}

.nintendo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btnAudio {
    width:80px;
    height:80px;
    border-radius: 50%;
    border: none;
    position: absolute;
    right:2vw;
top: 2vh;
    background: rgba(0, 0, 0, 0.555);
    cursor: pointer;
    color: var(--branco);
}

.divPokedex {
    height:100vh;
    width: 100%;
    background: url('../image/pokedex.svg') center / cover no-repeat;
}

.pokedex {
    width: 50%;
    height: 100%;
}

.pokedex > img {
    width: 90%;
    height: 90%;
}

.contPokedex {
    width: 50%;
    height: 100%;
    background: url('../image/circle.svg') right / contain no-repeat;
    flex-direction: column;
    gap: 20px;
    align-items: baseline !important;
}

.contPokedex > img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.contPokedex > h1 {
    width: 90%;
    height: auto;
    color: #DC0A2D;
    font-size: 1.6em;
}

.contPokedex > p {
    color: var(--branco);
    width: 90%;
    height: auto;
}

.lojas {
    width: 100%;
    padding: 10px;
    justify-content: left !important;
}

.lojas > button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
}

.lojas > button > img {
    width: 90%;
    height: 100%;
}

.gamesPokeMobile {
    display:none;
}

footer {
    margin-top: 0px;
    background: url('../image/backFooter.svg') center / cover no-repeat !important;
}

.logoFooter {
    background: url('../image/titleFooter.svg') bottom / contain no-repeat !important;
}

.logoFooter > h1 > b {
    color: #DC0A2D;
}

::-webkit-scrollbar-thumb {
    background:#DC0A2D;;
    border-radius: 10px;
  }
  