header {
    background:url('../image/backProfile.png') center / contain no-repeat;
    background-color: var(--preto);
}

/*Triangulos*/

.triangulos {
    width:100%;
    height:auto;
    background: transparent;
    flex-direction: row;
    margin-top: -10px;
}

.triangulo {
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 120px solid var(--preto);
}

main {
    flex-direction: column;
    background:var(--backgroundCinza);
    height: auto;
    width:100%;
}

.sobreMim {
    margin-top: 80px;
    margin-bottom: 20px;
    width:100%;
    height: 100vh;
    flex-direction: row;
}

.cont {
    width:55%;
    height:100%;
    flex-direction: column;
    padding: 40px;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.cont > h1 {
    color: var(--vermelhoPadrao);
    font-size:1.8em;
    justify-content: left !important;
    width:100%;
    margin-bottom:5px;
}

.cont > p {
    justify-content: left !important;
    align-items: baseline !important;
    height: 40vh;
    width:100%;
    font-size: 1.2em;
    color: var(--branco);
    margin-bottom:0px;
}

.minhaFoto {
    width:45%;
    height:100%;
}

.minhaFoto > img {
    width:70%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border:2px solid var(--vermelhoPadrao);
    background: var(--preto);
}

/*Meus Projetos*/

.meusProjetos, .clientServices {
    width:100%;
    height: 85vh;
    flex-direction: column;
    margin-top:40px;
    margin-bottom: 20px;

}

.titleMyProject, .titleMyProjectServices {
    width:100%;
    height:20%;
    font-size: 2em;
    color: var(--branco);
    position: relative;
}

.titleMyProject::after, .titleMyProjectServices::after {
    content: '';
    width:400px;
    height:10px;
    background:var(--vermelhoPadrao);
    position: absolute;
    left: 2vw;
    top:0;
    animation: barraTitleLeft 5s infinite;
    border-radius: 10px;
}

.titleMyProject::before, .titleMyProjectServices::before {
    content: '';
    width:400px;
    height:10px;
    background:var(--vermelhoPadrao);
    position: absolute;
    right: -50vw;
    bottom:0;
    animation: barraTitleRight 5s infinite;
    border-radius: 10px;
}

.swiper, .swiperServices {
    flex-direction: row;
    width:100%;
    height: 100%;
    justify-content: left !important;
    gap: 20px;
    user-select: none; /* Impede a seleção de texto ao arrastar */
}
  
  .project, .service {
    flex-shrink: 0;
    width: 450px;
    height: 90%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    cursor: pointer;
    transition:0.5s linear;
    position: relative;
  }

  .project > p, .service > p {
    font-size: 1.6em;
    font-weight: bold;
    position: absolute;
    top: 5vh;
    width: 100%;
    z-index: 3;
  }

  .sololeveling > p {
    color: #614080;
  }

  .slechi > p {
    color: #7b9bb7;
  }

  .relogio > p {
    color: var(--vermelhoPadrao);
  }

  .tabuada > p {
    color: #489ee6;
  }

  .genshin > p {
    color: #646464;
  }

  .pokemon > p {
    color: #DC0A2D;
  }

  .aumigos > p {
    color: #328266;
  }
  
  .project > img {
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .project > video, .service > video {
    width: 64%;
    height: 42%;
    position: absolute;
    top:25%;
    left: 12%;
    z-index: 1;
    object-fit: cover;
    filter: none !important;
  backdrop-filter: none !important;
  }

  .service:first-child > img{
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
  }

  .service > img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  .project:hover {
    width:455px;
    height: 92%;
    transition:0.5s linear;
  }

  .buttonAllProjects {
    background: url('../image/btnAllProject.svg') center / cover no-repeat !important;
    height: 60%;
    margin-right: 100px;
  }

  .btnAllProject {
    width:80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
    background: url('../image/btnAllProject.svg') center / cover no-repeat !important;
    color: var(--branco);
    flex-direction: column;
  }

  .btnAllProject > span {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--branco);
  }

  .hvr-rectangle-in {
    color: var(--branco);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: var(--preto);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-in:before {
    color: var(--branco);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vermelhoPadrao);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
    color: white;
  }
  .hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }


.fadeInLeft {
    animation:fadeInLeftBig 1s;
}

.fadeOutLeft {
    animation:fadeOutLeftBig 1s;
}

.fadeInRight {
    animation:fadeInRightBig 1s;
}

.fadeOutRight {
    animation:fadeOutRightBig 1s;
}

.tecnologias {
    margin-top: 50px;
    width: 100%;
    height:auto;
    align-items: baseline !important;
    flex-direction: column;
}

.ferramentas {
    width:100%;
    height:70vh;
    flex-direction: column;
    position: relative;
}

.ferramentas::after {
    content: '';
    width:200px;
    height: 200px;
    background-color: var(--vermelhoPadrao);
    border-radius: 50%;
    position: absolute;
    top:2vh;
    left:0;
    z-index: 0;
    animation: pulse infinite 2s;
    z-index: 0;
}

.ferramentas::before {
    content: '';
    rotate: 90deg;
    height: 50px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 150px solid var(--preto);
    position: absolute;
    bottom:0;
    right:0;
    z-index: 0;
    animation: triangulo infinite 5s;
    z-index: 0;
}

.ferramentas > h1 {
    z-index: 1;
    height:30%;
    width: 100%;
    font-size: 2em;
    color: var(--branco);
}

.ferramentas > h1 > b {
    color: var(--vermelhoPadrao);
    margin-left:10px;
}

.estudos {
    width:100%;
    height:70vh;
    flex-direction: column;
    position: relative;
}

.estudos::after {
    content: '';
    width:200px;
    height: 200px;
    background-color: var(--cinza);
    position: absolute;
    bottom:0;
    left:0;
    animation: flip infinite 5s;
    z-index: 0;
}

.estudos > h1 {
    height:30%;
    width: 100%;
    font-size: 2em;
    color: var(--branco);
    z-index: 1;
}

.estudos > h1 > b {
    color: var(--vermelhoPadrao);
    margin-inline:10px;
}

.icones {
    width:100%;
    height:100%;
    gap:50px;
    z-index: 1;
    flex-direction: column;
}

.icones > .icons {
    width: 100%;
    gap: 30px;
    height: 50%;
}

.icones > .icons > img {
    width: 80px;
    height: 80px;
}

.iconesMobile {
    display: none;
}

.icones > img {
    width:80px;
    height:80px;
    z-index: 2;
    cursor: pointer;
}

.closed {
    display: none !important;
}

/*Certificados e Conquistas*/

.certificados_section {
    transition: height 1s linear;
    margin-top:60px;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: left !important;
}

.certificados_section > h1 {
    width:100%;
    height:20vh;
    font-size: 2em;
    color: var(--branco);
    position: relative;
}

.certificados_section > h1::after {
    content: '';
    width:30px;
    height: 150px;
    background:var(--vermelhoPadrao);
    position: absolute;
    left:5vw;
    top: 0;
    animation: fadeInLeftBig;
    animation-duration: 1s;
}

.certificados_section > h1::before {
    content: '';
    width:60px;
    height: 150px;
    background:var(--preto);
    position: absolute;
    left:5vw;
    top: 0;
    animation: fadeInLeftBig;
    animation-duration: 1s;
}

.certificados_section > button {
    display: none !important;
    margin-block:30px;
    width: 60px;
    height: 60px;
    background:var(--vermelhoPadrao);
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

.certificados {
    width:100%;
    height: 60vh;
    flex-direction: row;
    gap:50px;
}

.certificados > .certificado {
    width: 40%;
    height: 90%;
    background-color: transparent;
    position:relative;
}

.img-certificado {
    width: 90%;
    height: 90%;
    position: absolute;
    box-shadow: 0px 0px 10px 2px rgb(17, 17, 17);
    right: 2vw;
    top:0;
    border: 10px solid var(--preto);
}

.logo-certificado {
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: 100px;
}

.certificados > button {
    border:4px solid var(--preto);
    transition: 0.5s linear;
    background-color: blue;
    position: absolute;
}

.certificados > button:hover {
    border:0px solid transparent;
    transition: 0.5s linear;
}

.certificados > button > span {
    color: var(--backgroundCinza);
    font-size: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificadoOculto {
    display: none;
}

/*Avaliações*/

.avaliacao {
    width:100%;
    height:auto;
    flex-direction: column;
    justify-content: left !important;
    margin-top:50px;
    margin-bottom:30px;
}

.avaliacao > h1 {
    position: relative;
    width:100%;
    height:20vh;
    font-size: 2em;
    color: var(--branco);
}

.avaliacao > h1::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    rotate: 180deg;
    border-left: 0px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid var(--vermelhoPadrao);
}

.avaliacao > h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    rotate: 0deg;
    border-left: 0px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid var(--preto);
}

.dragging {
    cursor: grabbing;
    user-select: none;
}

.avalia {
    width:100%;
    height:80vh;
    margin-top: 80px;
    flex-direction: row;
    justify-content: left !important;
}

.avaliacoes {
    flex-shrink: 0;
    width: 600px;
    height: 100%;
    margin-inline: 5px;
    position: relative;
}

.avaliacaoCard {
    background: var(--branco);
    width:90%;
    height: 80%;
    border-radius: 20px;
}

.nameAvaliador {
    position: absolute;
    width:100%;
    height:20%;
    bottom:0;
    left:0;
}

.nameAvaliador > h1 {
    background: var(--vermelhoPadrao);
    width:auto;
    padding-inline: 20px;
    height:60px;
    border-radius: 20px;
    font-size: 1.2em;
    color: var(--branco);
}

.avaliadorPhoto {
    width:100%;
    height: 30%;
    position: absolute;
    left: 0;
    top:0;
    align-items: baseline !important;
}

.avaliadorPhoto > button {
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    right: 3vw;
    bottom: 5vh;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.avaliadorPhoto > button:hover {
    color: var(--vermelhoPadrao);
    transition: 0.5s;
}

.avaliadorPhoto > button > span {
    font-size: 3em;
}

.avaliadorPhoto > img {
    width:120px;
    height: 120px;
    border-radius: 50%;
    background:var(--preto);
    border:2px solid var(--vermelhoPadrao);
    object-fit: cover;
}

.contAvaliacao {
    width:100%;
    height: 60%;
    flex-direction: column;
    padding-inline: 20px;
}

.stars {
    color:var(--vermelhoPadrao);
    font-size: 3.5em;
    letter-spacing: 2px;
    width:100%;
    height:25%;
    justify-content: left !important;
}

.contAvaliacao > p {
    width:100%;
    height: 20%;
    justify-content: left !important;
    font-size: 1.2em;
    color: var(--backgroundCinza);
    font-weight: bold;
}

.descAvaliacao {
    justify-content: left !important;
    align-items: baseline !important;
    width:100%;
    height: 70%;
    font-size: 1.1em;
}

/* Contato */

.contactRedes {
    width: 100%;
    height: 90vh;
    margin-block: 20px;
}

.qrCode {
    width: 70%;
    height: 100%;
    flex-direction: column;
    margin-left: 10px;
    border-left: 5px solid var(--vermelhoPadrao);
}

.qrCode > h1 {
    font-size: 2em;
    color: var(--branco);
    height: 20%;
    width: 90%;
}

.qrCode > img {
    width: 50%;
    height: 80%;
    border-radius:20px;
}

.redesContact {
    width: 30%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: end !important;
}

.redesContact > a {
    cursor:pointer;
    width: 40%;
    height: 15%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.redesContact > a > img {
    width: 50px;
    height: 50px;
}

.redesContact > a > img:hover {
    animation: tada 1s;
}

.whatsapp {
    background: #1FAF38;
}

.instagram {
    background:var(--branco);
}

.linkedin {
    background: #0076B2;
}

.gmail {
    background: #C5221F;
}

.githubContact {
    background: var(--preto);
}

/*Animações Expecificas*/

@keyframes barraTitleRight {
    from {
        right: 2vw;
    }50% {
        opacity: 0;
        right: 70vw;
    }to {
        right: 2vw;
    }
}


@keyframes barraTitleLeft {
    from {
        left: 2vw;
    }50% {
        opacity: 0;
        left: 70vw;
    }to {
        left: 2vw;
    }
}

@keyframes triangulo {
    from {
        right: 0vw;
    }50% {
        opacity: 0;
        right: -10vw;
    }to {
        right: 0vw;
    }
}

@keyframes html {
    from {
        width:0%;
    }to {
        width:80%;
    }
}

@keyframes css {
    from {
        width:0%;
    }to {
        width:70%;
    }
}

@keyframes js {
    from {
        width:0%;
    }to {
        width:65%;
    }
}

@keyframes figma {
    from {
        width:0%;
    }to {
        width:83%;
    }
}

@keyframes canva {
    from {
        width:0%;
    }to {
        width:83%;
    }
}

@keyframes github {
    from {
        width:0%;
    }to {
        width:80%;
    }
}

@keyframes git {
    from {
        width:0%;
    }to {
        width:80%;
    }
}

.githubAnimation {
    width: 80%;
    animation: github 1s linear;
    color: var(--preto);
}

.canvaAnimation {
    width: 83%;
    animation: canva 1s linear;
}

.figmaAnimation {
    width: 83%;
    animation: figma 1s linear;
}

.jsAnimation {
    width: 65%;
    animation: js 1s linear;
}

.cssAnimation {
    width: 70%;
    animation: css 1s linear;
}

.htmlAnimation {
    width: 80%;
    animation: html 1s linear;
}

.gitAnimation {
    width: 80%;
    animation: git 1s linear;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border: 4px solid #1b1b1b;
    transition: all 0.3s ease;
    transform: rotate3d(20, -10, 1, 60deg);
}

.card:hover {
    transform: rotate3d(20, -10, 1, 0deg);
}

.card-text {
    color: #fff;
}

.card-text > span {
    color: var(--vermelhoPadrao);
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.subtitle {
    font-size: 12px;
}

.download-btn {
    background-color: #fff;
    color: #FF0000;
    border: none;
    font-weight: bold;
    padding: 10px 0px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    flex-direction: row;
    transition: background-color 0.3s; 
}

.download-btn > a {
    width:100%;
    text-decoration: none;
    color: var(--vermelhoPadrao);
}

.download-btn > a > svg {
    width:30px;
    height:30px;
    fill:var(--vermelhoPadrao);
}

.download-btn:hover {
    background-color: #1b1b1b;
    color: #fff;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #FF0000;
    transition: transform 0.3s ease;
}

.download-btn:hover .icon {
    transform: scale(1.2);
}

.background-icon,
.background-icon-2 {
    position: absolute;
    width: 80px;
    height: 100%;
    transform: scale(1.5);
    fill: #fff;
    stroke: #FF0000;
    z-index: 1;
    transition: transform 0.3s ease;
}

.background-icon {
    bottom: 0px;
    right: 0px;
}

.background-icon-2 {
    bottom: 0px;
    right: 0px;
    stroke-width: 2;
}

.card:hover .background-icon,
.card:hover .background-icon-2 {
    transform: scale(2.1);
}

/* Toast */

.textToast {
    font-size: 1.2em ;
}